{%extends "teams.html"%}

{% block title %}About the Team{% endblock %}

{% block main %}
	<h2>The Team</h2>
	<h3>Philip James</h3>
	<p>Philip is a senior game design major who thought of InsertTeamHere when he saw the difficulty independent game teams were having finding artists to make their games awesome. He is currently involved in a range or projects, which you can see at his website.</p>
	<a href="http://philipjohnjames.com">Philip's Site</a>
	<h3>Kelsey Hawley</h3>
	<p>Kelsey is a senior Bioinformatics major who decided it was time for a class that she would enjoy.  She took a web design course in the hopes of learning new techniques and creating something awesome.  When Philip told her about his idea for InsertTeamHere, she jumped on board.</p>
	<h3>Linus Foster</h3>
	<p>Linus M Foster is a veteran of the UC Santa Cruz game design major, and plans to dramatically unveil his next big project from the top of a tower during a thunderstorm.</p>
	<h3><a href="http://cmps183-fall2011.soe.ucsc.edu/doku.php?id=insert_team_here_project">Wiki</a></h3>
{%endblock%}
